body{
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-position-y: 100px;
  background-position-x: right;
  background-color: lighten;
  background-blend-mode: overlay;
  background-size: 40%;
}

ul#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #048204;
}

li#navbar {
  float: left;
}
li#titler {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li#navbar a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li#navbar a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #023602;
}
